.titulo-site {
    text-align: center;
    background-color: #FFCBDB;
    font-size: 2rem;
}

.titulo-item {
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
}

main button {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.info-endereco {
    text-align: center;
}

.detalhes-endereco {
    margin-bottom: 0;
}

/* Parte referente a desabilitar o item: */
.disabled {
    opacity: 0.5; /* Tornar o elemento translúcido */
    pointer-events: none; /* Desabilitar interações com o elemento */
}

.disabled a {
    display: none; /* Sumir com os botões */
}

.msg-ganhamos {
    display: none; /* Deixar o parágrafo desabilitado por padrão */
    font-style: italic;
}

.disabled .msg-ganhamos {
    display: block; /* Exibe o parágrafo quando a classe 'disabled' está presente */
    text-align: center;
    width: 100%;
    margin-bottom: -0.5rem;
}