.titulo-site {
    text-align: center;
    background-color: #FFCBDB;
    font-size: 1.5rem;
}

.titulo-item {
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
}

main button {
    display: block;
    width: 100%;
    margin: 0 auto;
}